#title {
  background-color: #333;
  color: #fff;
  padding: 3% 15%;
  text-align: center;
}

.project-paragraph-text {
  font-size: 1.2rem;
  text-align: left;
}

.project-title-center {
  margin-top: 5%;
  font-size: 2.5rem;
  margin-bottom: 2%;
}

.topic {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 10%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;

}

.navbar-expand-lg .navbar-nav .nav-link {
  font-family: "Montserrat";
  padding: 0 20px;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.7vw; 
  font-weight: bold;
}

/* TEXT */
#text {
  background: #333;
  padding: 5% 15%;
  height: 90vh;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.typewriter {
  margin: auto
}

.typewriter h1:hover {
  color: #f55050;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}


/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: orange
  }
}

.icon-img:hover {
  color: #f55050;
}


/* about */


#about {
  background-color: #fff;
  color: #333;
  text-align: center;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0%;
}

.row {
  text-align: center;
  padding-bottom: 3%;
  padding-top: 2%;
}

.about-title:hover {
  color: #f55050;
}

.about-item {
  text-align: left;
}

h3 {
  color: #f55050;
  padding-bottom: 5%;
}

.Josue {
  padding-top: 5%;
  width: 90%;
  text-align: center;
}

.about-text {
  font-size: 1.28vw;
  font-family: 'Montserrat', sans-serif;
}

@media(min-width:1350px) {
  .contact-text {
    font-size: 1.3vw;
  }

  .project-paragraph-text {
    font-size: 1.2vw;
  }

  .lang-paragraph-text {
    font-size: 1.2vw;
  }

}

@media(max-width:1300px) {
  .about-text {
    font-size: 1.2rem;
  }

  .project-paragraph-text {
    font-size: 1.2rem;
  }

  .lang-paragraph-text {
    font-size: 1.2rem;
  }

  .contact-text {
    font-size: 1.2rem;
  }

  .navbar-brand{
    font-size: 3vw;
  }
}

@media (max-width:1050px) {
  .about-text {
    font-size: 1.3rem;
  }

  .project-paragraph-text {
    font-size: 1.3rem;
  }

  .lang-paragraph-text {
    font-size: 1.3rem;
  }

  .contact-text {
    font-size: 1.3rem;
  }

}

@media (max-width:900px) {
  /* .about-text {
    font-size: 1.9rem;
  } */

  .project-paragraph-text {
    font-size: 1.9rem;
  }

  .lang-paragraph-text {
    font-size: 1.9rem;
  }

  .contact-text {
    font-size: 1.4rem;
  }

  .navbar-brand{
    font-size: 4vw;
  }
}

@media (max-width:800px) {
  /* .about-text {
    font-size: 2.1rem;
  } */

  .project-paragraph-text {
    font-size: 2.1rem;
  }

  .lang-paragraph-text {
    font-size: 2.1rem;
  }

  .contact-text {
    font-size: 1.5rem;
  }

  .typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    font-size: 7vw;
    animation:
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
}


@media (max-width:700px) {
  .about-text {
    font-size: 3vw;
  }

  .project-paragraph-text {
    font-size: 4vw;
  }

  .lang-paragraph-text {
    font-size: 4vw;
  }

  .contact-text {
    font-size: 3.2vw;
  }

}

@media (max-width:600px) {
  .about-text {
    font-size: 3.7vw;
  }

  .project-paragraph-text {
    font-size: 4vw;
  }

  .lang-paragraph-text {
    font-size: 4vw;
  }

  .contact-text {
    font-size: 3.5vw;
  }

  .heading-languages{
    font-size: 10vw;
  }
}

@media (max-width:500px) {
  .about-text {
    font-size: 4vw;
  }

  .project-paragraph-text {
    font-size: 4vw;
  }

  .lang-paragraph-text {
    font-size: 4vw;
  }

  .contact-text {
    font-size: 4vw;
     /* 4.2 */
  }

  .heading-languages{
    font-size: 10vw;
  }

  .project-title{
    font-size: 10vw;
  }

  .topic{
    font-size: 8vw;
  }

  .project-h2{
    font-size: 8vw;
  }

  .contact-hover{
    font-size: 10vw;
  }

  .navbar-brand{
    font-size: 6.3vw;
  }

  .about-title{
    font-size: 10vw;
  }

}


strong:hover {
  color: #f55050;
}

p {
  font-family: 'Montserrat', sans-serif;
}


/* Projects */

#Projects {
  background-color: #333;
  text-align: center;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

.project-title {
  color: #FF6E31;
}

.carousel-item {
  padding: 0% 15%;
}

.div-padding {
  padding: 3% 3%;
}


.project-h2 {
  color: #FF6E31;
  text-align: left;
}


.inf {
  padding-bottom: 2%;
}


.pdf {
  font-size: xx-large;
}

.topic{
  text-align: center;
}


/* projects-GameDev */

em {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.certified {
  font-family: 'Montserrat', sans-serif;
  color: #f55050;
  font-size: 1.2rem;
  padding: 0%;
}


/* Resume */

#Resume {
  padding: 5% 3%;
}

.title-resume {
  padding-bottom: 3%;
  text-align: center;
}


/* Languages */

#languages {
  background-color: #A27B5C;
  color: #fff;
  text-align: center;
  padding: 3% 3%;
  padding-bottom: 0%;
}


.heading-languages {
  color: #333;
}

.language-box {
  padding: 3% 0%;
}

.fab {
  padding-bottom: 1%;
}


.fab:hover {
  color: #333;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 900;
  color: #333;
}


.droid:hover {
  color: #03C988;
}

.lang-div {
  padding-bottom: 0%;
  padding-top: 0%;
}

.lang-paragraph-text {
  text-align: center;
}

.contact-title {
  padding-top: 5%;
  text-align: center;
  color: #FF6E31;
}

@media (max-width:500px) {
.project-h2{
  text-align: center;
}
}



/* Contact */
#contact {
  padding: 5% 15%;
  text-align: center;

}

.contact-text {
  text-align: left;
}

.form-space {
  padding: 0% 3%;
}

.text-div {
  margin: auto;
}

.sub {
  text-align: center;
  margin: 35px 0 20px 0 !important;
}

.col {
  padding-bottom: 1%;
}

.btn-center {
  padding-top: 5%;
  text-align: center;
}

/* Copyright */

.copyright {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  margin: 0;
  padding: 5% 3%;
}

.icon-ft {
  padding: 2%;
}


.test {
  color: #FFFFFF;
  text-decoration: none;
}